		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Provincia' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'provincia.id' | translate }}</th>
						<th>{{ 'provincia.nombre' | translate }}</th>
						<th><a class="btn btn-info" href='#/provincia/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="provincia in provincias">
						<td>{{provincia.id}}</td>
						<td>{{provincia.nombre}}</td>
						<td><a class="btn btn-info" href="#/provincia/{{provincia.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
