		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Estado' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'estado.id' | translate }}</th>
						<th>{{ 'estado.nombre' | translate }}</th>
						<th>{{ 'estado.tabla' | translate }}</th>
						<th><a class="btn btn-info" href='#/estado/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="estado in estados">
						<td>{{estado.id}}</td>
						<td>{{estado.nombre}}</td>
						<td>{{estado.tabla}}</td>
						<td><a class="btn btn-info" href="#/estado/{{estado.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
