		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Variables' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'variables.id' | translate }}</th>
						<th>{{ 'variables.contenido' | translate }}</th>
						<th>{{ 'variables.activa' | translate }}</th>
						<th><a class="btn btn-info" href='#/variables/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="variables in variabless">
						<td>{{variables.id}}</td>
						<td>{{variables.contenido}}</td>
						<td>{{variables.activa}}</td>
						<td><a class="btn btn-info" href="#/variables/{{variables.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
