		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Vehiculoservicio' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'vehiculoservicio.id' | translate }}</th>
						<th><a class="btn btn-info" href='#/vehiculoservicio/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="vehiculoservicio in vehiculoservicios">
						<td>{{vehiculoservicio.id}}</td>
						<td><a class="btn btn-info" href="#/vehiculoservicio/{{vehiculoservicio.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
