
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/chofer">{{ 'Chofer' | translate }}</a></li>
        <li><a href="#/chofervehiculo">{{ 'Chofervehiculo' | translate }}</a></li>
        <li><a href="#/ciudad">{{ 'Ciudad' | translate }}</a></li>
        <li><a href="#/cliente">{{ 'Cliente' | translate }}</a></li>
        <li><a href="#/clienteviaje">{{ 'Clienteviaje' | translate }}</a></li>
        <li><a href="#/clienteviajeservicio">{{ 'Clienteviajeservicio' | translate }}</a></li>
        <li><a href="#/color">{{ 'Color' | translate }}</a></li>
        <li><a href="#/componentedocumento">{{ 'Componentedocumento' | translate }}</a></li>
        <li><a href="#/componentefinanciero">{{ 'Componentefinanciero' | translate }}</a></li>
        <li><a href="#/destinohorario">{{ 'Destinohorario' | translate }}</a></li>
        <li><a href="#/documento">{{ 'Documento' | translate }}</a></li>
        <li><a href="#/entidad">{{ 'Entidad' | translate }}</a></li>
        <li><a href="#/entidadrol">{{ 'Entidadrol' | translate }}</a></li>
        <li><a href="#/estado">{{ 'Estado' | translate }}</a></li>
        <li><a href="#/facturaelectronica">{{ 'Facturaelectronica' | translate }}</a></li>
        <li><a href="#/formapago">{{ 'Formapago' | translate }}</a></li>
        <li><a href="#/formapagodocumento">{{ 'Formapagodocumento' | translate }}</a></li>
        <li><a href="#/horario">{{ 'Horario' | translate }}</a></li>
        <li><a href="#/itemmenu">{{ 'Itemmenu' | translate }}</a></li>
        <li><a href="#/marca">{{ 'Marca' | translate }}</a></li>
        <li><a href="#/menu">{{ 'Menu' | translate }}</a></li>
        <li><a href="#/modelo">{{ 'Modelo' | translate }}</a></li>
        <li><a href="#/provincia">{{ 'Provincia' | translate }}</a></li>
        <li><a href="#/rol">{{ 'Rol' | translate }}</a></li>
        <li><a href="#/rolitemmenu">{{ 'Rolitemmenu' | translate }}</a></li>
        <li><a href="#/servicio">{{ 'Servicio' | translate }}</a></li>
        <li><a href="#/tipocartera">{{ 'Tipocartera' | translate }}</a></li>
        <li><a href="#/tipocomponentefinanciero">{{ 'Tipocomponentefinanciero' | translate }}</a></li>
        <li><a href="#/tipodocumento">{{ 'Tipodocumento' | translate }}</a></li>
        <li><a href="#/tipovehiculo">{{ 'Tipovehiculo' | translate }}</a></li>
        <li><a href="#/variables">{{ 'Variables' | translate }}</a></li>
        <li><a href="#/vehiculo">{{ 'Vehiculo' | translate }}</a></li>
        <li><a href="#/vehiculoservicio">{{ 'Vehiculoservicio' | translate }}</a></li>
        <li><a href="#/viaje">{{ 'Viaje' | translate }}</a></li>
    </ul>
