		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Marca' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'marca.id' | translate }}</th>
						<th>{{ 'marca.nombre' | translate }}</th>
						<th>{{ 'marca.activo' | translate }}</th>
						<th><a class="btn btn-info" href='#/marca/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="marca in marcas">
						<td>{{marca.id}}</td>
						<td>{{marca.nombre}}</td>
						<td>{{marca.activo}}</td>
						<td><a class="btn btn-info" href="#/marca/{{marca.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
