	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'Rol' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			<div class="form-group">
				<label for="rol_id" class="col-sm-2 control-label">{{ 'rol.id' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="rol_id" name="id" ng-model="rol.id" class="form-control" maxLength="20"  ng-disabled="mode != 'create'"/>
				</div>
			</div>
			<div class="form-group">
				<label for="rol_nombre" class="col-sm-2 control-label">{{ 'rol.nombre' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="rol_nombre" name="nombre" ng-model="rol.nombre" class="form-control" maxLength="45" />
				</div>
			</div>
			<div class="form-group">
				<label for="rol_activo" class="col-sm-2 control-label">{{ 'rol.activo' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="rol_activo" name="activo" ng-model="rol.activo" class="form-control" maxLength="4" />
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(rol.id)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/rol">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
